
*/build/
*/dist/
*/nbproject/private/
*/nbproject/Package-*.bash
*/nbproject/Makefile-default.mk
*/nbproject/Makefile-genesis.properties
*/nbproject/Makefile-impl.mk
*/nbproject/Makefile-local-default.mk
*/nbproject/Makefile-variables.mk

*.d

*/*/build/
*/*/dist/
*/*/nbproject/private/
*/*/nbproject/Package-*.bash
*/*/nbproject/Makefile-default.mk
*/*/nbproject/Makefile-genesis.properties
*/*/nbproject/Makefile-impl.mk
*/*/nbproject/Makefile-local-default.mk
*/*/nbproject/Makefile-variables.mk

testBluetooth.X/Python/__pycache__/
